<div class="bucket">
  <span class="current-database css-truncate expandable">
    <span class="current-database-name css-truncate-target">
      <%= view.database_name %>
    </span>
  </span>
</div>
